<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>add new employee</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
</head>
<body>

	<div th:if="${empty != null}">
		<h1>
			<span th:text="${empty}"></span>
		</h1>
	</div>

	<div th:if="${empty == null}">

		<h1>Type employee name</h1>

		<form method="POST" th:action="@{/add-employee}"
			th:object="${positions}">
			<input type="text" th:name="fullName" value="Enter full name" />
			<select name="pickedPosition" th:object="${positions}">
				<option th:each="position : ${positions}" th:value="${position}"
					th:name="${position}" th:text="${position}"></option>
					
				<input type="submit" value="Add Employeee" />
		</form>



		<p>
			<button type="button">
				<a th:href="@{/}">Go Home</a>
			</button>
		</p>
</body>
</html>