<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Delete Employee From Project</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
</head>
<body>

	<div th:if="${empty != null}">
		<h1>
			<span th:text="${empty}"></span>
		</h1>
	</div>

	<div th:if="${empty == null}">
		<h1>
			Delete employee <span th:text="${pickedEmployee}">employee</span>
			from his project
		</h1>

		<form action="#" method="POST"
			th:action="@{/proceed-delete-from-project}" th:object="${projects}">
			
			<input type = "hidden" name="fullName" th:value = "${pickedEmployee}" />
			
			<select name="pickedProject" th:object="${projects}">
				<option th:each="project : ${projects}" th:value="${project}"
					th:name="${project}" th:text="${project}"></option>
			</select> <input type="submit" value="delete employee from project" />
		</form>

	</div>

	<p>
		<button type="button">
			<a th:href="@{/}">Go Home</a>
		</button>
	</p>
</body>
</html>

