<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Position</title>
<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
</head>
<body>
	<h1>Position Options</h1>
	<p>
		<button type="button">
			<a th:href="@{/find-all-positions}">Display All Positions</a>
		</button>
	</p>
	
	<p>
		<button type="button">
			<a th:href="@{/create-new-position}">Create New Position</a>
		</button>
	</p>
	
	<p>
		<button type="button">
			<a th:href="@{/delete-position}">Delete Position</a>
		</button>
	</p>
	
	<p>
		<button type="button">
			<a th:href="@{/display-employees}">Display Employees In Position</a>
		</button>
	</p>
	
	
	
	<p>
		<button type="button">
			<a th:href="@{/}">Go Home</a>
		</button>
	</p>
	
</body>
</html>